.welcome-actualitat-entry h3 {
	font-family: Graphik;
	font-size: 15px;
	color: #FFD77E;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.main-section {
	background-size: cover;
 	/*width: 100%;*/
}

/*HOME*/
/*.home .main-section { position: relative; padding-top: 150px; }*/
.home .main-section .veil {
/*	background: #144577;
	opacity: 0.1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;*/
}
.home .main-section .text { position: relative; }
.home #desktop-nav {
	background-color: transparent;
}
.home header {
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;*/
}
.home header .under-bar { display: none; }


.activitats-item .item-title {
	text-transform: uppercase;
}

.chkrad {
	display: block;
	width: 0px;
	position: absolute;
}

.activitats-grid a,.activitats-grid a:hover {
	color: inherit;
	text-decoration: none;
}
.activity-img {
    max-width: 100%;
    max-height: 60vh;
}
.activity-single h1 {
	font-family: 'PlayFairDisplay',serif;
	color: #144577;
	margin: 50px 0 30px;
}
.activity-single h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 0px;
}
.activity-single aside {
	margin-top: 60px;
}
#post-meta {
    margin: 0 0 140px;
}
.short-border::before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    width: 75px;
    height: 1px;
    transition: bottom 0.3s, top 0.3s;
    -webkit-transition: bottom 0.3s, top 0.3s;
    border-top: 1px solid black;
    top: -20px;
}
#sharer i {
    font-size: 17px;
    margin-right: 13px;
    color: black;
}
.activity-back {
	color: #144577;
	font-size: 15px;
	font-family: 'Graphik',sans-serif;
}


#acceptanceModal h1 {
	font-family: 'PlayFairDisplay',serif;
	margin-bottom: 40px;
}
#acceptanceModal p {
	font-size: 25px;
	font-family: 'GraphikLight',sans-serif;
}
#acceptanceModal button {
	width: 100%;
	height: 40px;
	background-color: #144577;
	color: #FFD77E;
	font-family: Graphik;
	font-size: 15px;
	display: inline-block;
	margin-top: 15px;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	width: 100%;
}
#acceptanceModal .modal-content {
	box-shadow: none;
	border: 1px solid #144577;
	border-radius: 0;
}



/* INTRANET **************/
.header-school input[type="submit"]{
	-webkit-appearance: none;
	font-family: "GraphikLight";
	font-size: 13px;
	color: gray;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	cursor: pointer;
	border: 0;
	background-color: transparent;
}
#select-school {
    width: 60%;
    height: 100%;
}
.form-container .form-school .form-row .school select {
    width: 100%;
    height: 30px;
    border: #E0E0E0 1px solid;
    font-family: GraphikLight;
    font-size: 15px;
    box-sizing: border-box;
    color: #F19B40;
    padding-left: 10px;
}
.form-container .form-school .form-row  {
	height: auto;
}
#afegirEscola, #afegirEstudi {
	display: block;
    background-color: #E0E0E0;
    color: black;
    padding: 0 20px;
    border: none;
    text-transform: uppercase;
    font-family: "Graphik";
    font-size: 15px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    height: 40px;
    line-height: 40px;
    width: 160px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 20px;
}
#studies_fake .form-row {
	height: auto;
}
#studies_fake .form-row input {
	width: 100%;
}

.user-thumbnail {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	background-image: url('../profile/placeholder.svg');
}
.user-miniature {
	width: 50px;
	height: 50px;
}

.pagination {
	width: 100%;
	display: block;
}
.pagination .page-link {
	border: 0;
}
.pagination a.page-link { color: #9A9A99; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { color: black; background-color: transparent;}

#profileModal h2 {
	font-family: 'PlayFairDisplay', serif;
	font-size: 33px;
	margin-bottom: 35px;
}
#profileModal p {
	font-size: 25px;
	font-weight: 300;
}
#profileModal a {
	font-family: 'Graphik';
	display: inline-block;
	font-size: 15px;
	color: white !important;
	padding: 10px 20px;
	width: 100%;
	max-width: 375px;
	text-transform: uppercase;
}
.galeria-header-and-search .galeria-search .crear-galeria {
    color: white;
    padding: 0 20px;
    border: none;
    text-transform: uppercase;
    font-family: "Graphik";
    font-size: 15px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    height: 40px;
    line-height: 40px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.create-gallery label {
	display: block;
	font-size: 15px;
	font-family: GraphikLight;
	margin-bottom: 15px;
}
.create-gallery input,
.create-gallery select,
.create-gallery textarea,
.slide-title-captions input[type="text"] {
    border: #E0E0E0 1px solid;
    font-family: GraphikLight;
    font-size: 15px;
    padding-left: 10px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    max-width: 800px;
}
.chosen-container, .chosen-choices {
	min-height: 35px;
	line-height: 35px;
}
#select-mate {display: inline-block;}
#select-mate.out {
	visibility: hidden;
}
#galeriaSlider {
	position: relative;
}
.notification-messages a {
    text-align: center;
    font-size: 12px;
}
.galeria-detall-header {
	overflow: auto;
}
.galeria-detall-header h1 {
	float: left;
	text-transform: none;
}
.galeria-detall-header h1 small {
	font-family: 'GraphikLight', sans-serif;
	font-size: 0.3em;
}
small.cap {
	font-family: 'GraphikLight', sans-serif;
	font-size: 12px;
	color: gray;
}
#add-pic {
	float: right;
}
#add-pictures {
	display: none;
	width: 100%;
	text-align: right;
	padding: 20px 0;
	margin-top: -50px;
}
#add-pictures input {
	display: inline-block;
}
.login-main {
	background-color: #DFDFDF;
}
#signin-form {
	margin-top: 70px;
	width: 350px;
}
#signin-form input[type="email"],
#signin-form input[type="password"] {
	background-color: transparent;
	border-radius: 0;
	border: 2px solid white;
	padding: 10px;
	font-size: 15px;
	line-height: 15px;
	height: auto;
	color: #144577;
	font-family: 'GraphikLight',sans-serif;
}
#signin-form input::placeholder {
	color: #144577;
}
#forgot_password {
	color: #144577;
	font-size: 11px;
}
#signin-form input[type="submit"]{
	background-color: #144577;
	border: 0;
	width: 100%;
	padding: 10px;
	font-weight: bold;
	font-family: 'GraphikRegular',sans-serif;
}

.desktop-nav-intranet {
	margin-top: 30px;
}
.header-intranet .menu-options, .header-intranet .logo {
	align-items: normal;
}
.header-intranet .menu-options {
	padding-top: 10px;
}
.header-intranet .menu-option.active::before {
	content: " ";
	display: block;
	width: 100%;
	background-color: black;
	height: 5px;
	position: absolute;
	top: -45px;
}

.caption input[type="submit"]{
	-webkit-appearance: none;
	border: 0;
	background-color: gray;
	color: white;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	display: inline-block;
	padding: 0;
	line-height: 14px;
	text-align: center;
}

