
// Colors
$grey: #f1f1f1;
$green: #55a555;
$red: #da2c2c;
$blue: #376994;

// Fontawesome
$fa-font-path: "../../fonts/font-awesome";

// Chosen
$chosen-sprite-path: '../../vendor/bootstrap-chosen/chosen-sprite.png';

// Bootstrap
$brand-primary: $blue;
$brand-success: $green;

$font-family-sans-serif: 'Lato', sans-serif;

$border-radius-base: 3px;

$input-bg: $grey;

$navbar-default-bg: transparent;

$panel-default-heading-bg: transparent;

$breadcrumb-bg: transparent;
$breadcrumb-padding-horizontal: 0;
