#header_mycourses {
	background-color: $red;
	background-image: url('../img/intranet/lines_back.png');
	background-size: cover;
	background-position: center;
	color: white;
	font-size: 80px;
	line-height: 80px;
	text-align: center;
	font-weight: 900;
	margin-bottom: 20px;
	padding: 55px;
}